*{
    /* color-set */
    --color-light-gray: rgb(241, 241, 241);
    --color-gray: rgb(216, 216, 216);
    --color-dark-gray: rgb(129, 129, 129);
    --color-black: rgb(19, 19, 19);
    --color-white: white;

    /* size */
    --global-width: 95vw;
    --header-font-size: 1.2rem;
    --header-font-weight: 600;
    --header-padding:20px 0;
    --nav-menu-padding:10px 0;
    --shopping-list-icon-scale:40px;
    --header-img-desc-wrapper-margin: 20px 0;
    --purchase-btn-padding: 10px 30px;
    --title-font-size: 3rem;
    --desc-font-size: 1.3rem;
}
/* global set */
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a{
    list-style: none;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
}
.global-width{
    width: var(--global-width);
    margin: 0 auto;
}
/* load page */
.load-page{
    position:absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-bar-container{
    animation: rotate 0.8s infinite linear;
}
.loading-bar{
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-top-left-radius: 100%;
    border-left: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    transform: translate(-5px, -5px);
}
body.active .load-page{
    display: none;
}
@keyframes rotate{
    0%{transform: rotate(0)}
    100%{transform: rotate(360deg)}
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
}
.logo-img-container{
    width: auto;
    height: 20px;
}
.logo-img-container a img{
    width:100%;
    height: 100%;
}
.nav-container{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.nav-menu{
    position: relative;
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    padding:var(--nav-menu-padding);
}
.nav-menu:nth-child(1) .line-style{
    content: ' ';
    position: absolute;
    top:95%;
    left:0;
    right:100%;
    bottom:0;
    background-color: black;
    transition:0.3s;
}
.nav-menu:nth-child(2) .line-style{
    content: ' ';
    position: absolute;
    top:95%;
    left:0;
    right:100%;
    bottom:0;
    background-color: black;
    transition:0.3s;
}
.nav-menu:nth-child(3) .line-style{
    content: ' ';
    position: absolute;
    top:95%;
    left:0;
    right:100%;
    bottom:0;
    background-color: black;
    transition:0.3s;
}
.nav-menu:nth-child(4) .line-style{
    content: ' ';
    position: absolute;
    top:95%;
    left:0;
    right:100%;
    bottom:0;
    background-color: black;
    transition:0.3s;
}
.nav-menu:nth-child(5) .line-style{
    content: ' ';
    position: absolute;
    top:95%;
    left:0;
    right:100%;
    bottom:0;
    background-color: black;
    transition:0.3s;
}
.nav-menu:nth-child(1):hover .line-style{
    right: 0;
}
.nav-menu:nth-child(2):hover .line-style{
    right: 0;
}
.nav-menu:nth-child(3):hover .line-style{
    right: 0;
}
.nav-menu:nth-child(4):hover .line-style{
    right: 0;
}
.nav-menu:nth-child(5):hover .line-style{
    right: 0;
}

.nav-menu a{
    color: var(--color-black);
}
.search-shoping-wrapper{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.search-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-light-gray);
    border-radius: 1000px;
    transition: 0.3s;
    overflow: hidden;
}
.search-btn{
    font-size: var(--header-font-size);
    width: var(--shopping-list-icon-scale);
    cursor: pointer;
    border-radius: 50%;
    height: 100%;
    transition: 0.3s;
}
.search-bar{
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
    font-size: var(--header-font-size);
}
.search-wrapper:hover{
    background-color: var(--color-gray);
}
.shoping-lists-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.shopping-list-icon{
    width:var(--shopping-list-icon-scale);
    height: var(--shopping-list-icon-scale);
    border-radius: 50%;
    transition: 0.3s;
}
.shopping-list-icon:hover{
    background-color: var(--color-gray);
}
.shopping-list-icon a i{
    font-size: var(--header-font-size);
    color:var(--color-black);
}
.header-img-wrapper{
    display: flex;
    flex-direction: column;
}
.header-img-container{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.header-img{
    width:50vw;
    height: 50vw;
    overflow: hidden;
}
.header-img img{
    width:100%;
    height: auto;
}
.header-img-desc-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: var(--header-img-desc-wrapper-margin);
}
.img-name{
    font-weight: 500;
    font-size: var(--desc-font-size);
}
.img-title{
    font-weight: bold;
    font-size: var(--title-font-size);
}
.img-desc{
    font-size: var(--desc-font-size);
}
.purchase-btn a{
    background-color: var(--color-black);
    font-size: 1rem;
    padding: var(--purchase-btn-padding);
    border-radius: 1000px;
    display: block;
    color: var(--color-white);
    transition: 0.3s;
}
.purchase-btn a:hover{
    background-color: var(--color-dark-gray);
}